XML and XSD/restaurant_reviews.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.algonquincollege.com/cst8259/labs"
           xmlns="http://www.algonquincollege.com/cst8259/labs"
           elementFormDefault="qualified">

    <!-- Definition for the price element -->
    <xs:element name="price" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:decimal">
                    <xs:attribute name="min" type="xs:int" />
                    <xs:attribute name="max" type="xs:int" />
                    <xs:attribute name="quantity" type="xs:int" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- Definition for the item element used in appetizers and entrees -->
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" minOccurs="1" />
                <xs:element name="description" type="xs:string" minOccurs="0" />
                <xs:element ref="price" minOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition for the root element restaurants -->
    <xs:element name="restaurants">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="restaurant" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="website" type="xs:string" minOccurs="0" />
                            <xs:element name="logo" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="source" type="xs:string" />
                                        <xs:element name="height" type="xs:int" />
                                        <xs:element name="width" type="xs:int" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="address" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="street" type="xs:string" />
                                        <xs:element name="city" type="xs:string" />
                                        <xs:element name="province" type="xs:string" />
                                        <xs:element name="postal_code" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="phone" type="xs:string" minOccurs="1" />
                            <xs:element name="food" type="xs:string" minOccurs="1" />
                            <xs:element name="rating" minOccurs="1">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:int">
                                            <xs:attribute name="min" type="xs:int" />
                                            <xs:attribute name="max" type="xs:int" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="date" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="month" type="xs:string" />
                                        <xs:element name="day" type="xs:int" />
                                        <xs:element name="year" type="xs:int" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="reviewer" type="xs:string" minOccurs="1" />
                            <xs:element name="summary" type="xs:string" minOccurs="1" />
                            <xs:element name="menu" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="appetizers" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="item" minOccurs="1" maxOccurs="unbounded" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="entrees" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="item" minOccurs="1" maxOccurs="unbounded" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="currency" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
